.footer {
  display: flex;
  align-items: center;
  padding: 10px 0;

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  &__item {
    font-size: 12px;
    cursor: pointer;
  }
}
